.navigationbar {
  display: flex;
  position: fixed;
  top: 0px;
  font-weight: 600;
  width: 100%;
  height: 58px;
  margin: 0px;
  background-color: white;
  z-index: 5;
}
.navigationbar .title {
  align-self: center;
  font-size: 17.5px;
  position: absolute;
  left: 171px;
}
.navigationbar .back {
  align-self: center;
  width: 22px;
  height: 30px;
  position: absolute;
  left: 25px;
  stroke: black;
  stroke-width: 3px;
}
.navigationbar .cart {
  align-self: center;
  position: absolute;
  left: 329px;
  width: 22px;
  height: 20px;
}
.navigationbar .added {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  font-weight: 400;
  position: absolute;
  left: 346px;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #ff7b9f;
  z-index: 6;
  color: white;
  font-size: 8px;
  text-align: center;
}