#main-dish .menu .card {
  font-weight: 700;
  width: 315px;
  height: 116px;
  text-align: right;
  margin: auto;
  margin-top: 25px;
  color:black;
  background: white;
  border-radius: 40px;
  box-shadow: 0px 2px 5px rgba(158, 77, 100, 0.5);
  overflow: hidden;
}
#main-dish .menu .card .content {
  width: 117px;
  height: 45px;
  left: 150px;
  top: 40px;
  position: absolute;
  line-height: 23px;
}
#main-dish .menu .card .content .title {
  font-weight: 600;
  font-size: 16px;
}
#main-dish .menu .card .content .howmuch {
  font-weight: 600;
  font-size: 15px;
  margin-top: -15px; 
}
#main-dish .menu .card img {
  height: 120px;
  top: 8px;
  left: -50px;
  position: absolute;
  z-index: 2;
}

.card,
.container {
  position: relative;
}

#main-dish {
  position: relative;
  top: 64px;
  height: 100%;
  overflow-y: auto;
  padding-bottom: 100px;
}
#main-dish .menu {
  position: relative;
  margin-bottom: 30px;
}
#main-dish .menu .add {
  width: 53px;
  height: 53px;
  left: 82vw;
  background-color: white;
  box-shadow: 0px 3px 6px rgba(111, 65, 65, 0.5);
  border-radius: 53px;
  top: 30px;
  line-height: 53px;
  text-align: center;
  font-size: 35px;
  font-weight: 300;
  color: #ff7b9f;
  position: absolute;
}
