body {
  font-family: 'Noto Sans TC', sans-serif;
  width: 100%;
  -webkit-user-select: none;
  overflow-y: hidden;
  overflow-x: hidden;
}

.container {
  position: relative;
  text-align: center;
  width: 100%;
  height: 667px;
  margin: 0 auto;
  overflow: hidden;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

#topic:first-of-type img {
  position: absolute;
  top: 117px;
  left: 36px;
  width: 288px;
}

#topic:last-of-type img {
  position: absolute;
  top: 138px;
  left: 44px;
  width: 288px;
}

#text {
  font-size: 14px;
  line-height: 16px;
  position: absolute;
  top: 373px;
  left: 65px;
  color: rgb(74, 74, 74);
  font-weight: 300;
}

#text .title {
  font-size: 23px;
  font-weight: 400;
}

#page {
  position: absolute;
  top: 494px;
  left: 180px;
}

#button {
  position: absolute;
  top: 547px;
  left: 46px;
  border-radius: 21.5px;
  height: 43px;
  width: 285px;
  background: linear-gradient(90deg, rgb(255, 120, 171) 10%, rgb(255, 143, 94)90%);
  color: white;
  text-align: center;
  line-height: 43px;
}

.swiper-pagination {
  position: absolute;
  top: 494px;
}

.swiper-pagination-bullet {
  height: 6px;
  width: 6px;
  border-radius: 6px;
  background-color: #f5ece8;
}

.swiper-pagination-bullet.active {
  background-color: #bdb5b2;
}

@media screen and (min-width:760px) {}